<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ändringarna har sparats</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <button class="navButton"><a th:href="@{/index}">Home</a></button>
    </nav>
    <div>
        <form th:action="@{/admin/users}" method="get">
            <h2>Ändringarna har sparats!</h2>
            <input class="book-button mt-10" type="submit" value="Ok">
        </form>
    </div>
</div>
</body>
</html>
