body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    background-color: dimgrey;
}

.navButton{
    margin-left: 4px;
    font-family: "Poppins", sans-serif;
    color: black;
}

.navButton a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black;
}

.navButton a:visited{
    color: black;
}

.navButton:hover{
    background-color: slategrey;
}

.container{
    text-align: center;
    margin: auto;
    width: 600px;
    min-height: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid dimgrey;
    border-radius: 5px;
}

.table-container{
    margin: auto;
    width: 900px;
    min-height: 700px;
    height: auto;
    border: 2px solid dimgrey;
    border-radius: 5px;
}

.container h1{
    margin-bottom: 50px;
}

.button{
    text-align: center;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    font-family: "Poppins", sans-serif;
}

.button:hover{
    background-color: slategrey;
}

.button a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black;
}

.button a:visited{
    color: black;
}

.form-container{
    display: flex;
    flex-direction: column;
}

.text-input{
    width: 200px;
    margin: 3px auto;
}

.num-input{
    width: 50px;
    margin: 3px auto;
}

.date-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.small-container{
    overflow: scroll;
}

.room-container{
    padding: 0 2px;
    overflow-x: hidden;
}

.room-inner-container{
    border-top: 1px solid dimgrey;
    border-bottom: 1px solid dimgrey;
    display: flex;
    padding: 2px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
}

.room-inner-container p{
    margin-right: 120px;
}

.room-inner-container label{
    margin-right: 5px;
}

.room-inner-container form{
    display: flex;
}

.room-inner-container button{
    margin-left: 3px;
}

.book-button{
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.book-button:hover{
    background-color: slategrey;
}
form {
    margin: 0 auto;
    width:400px;
}

.paddingBetweenCols td {
    padding: 0 15px;
}

.error{
    color: red;
}

.error-container{
    text-align: center;
    align-items: center;
    margin-top: 100px;
    padding: 0 40px;
}

.divider{
    width: 90%;
    margin: 5px auto;
}

.button-container{
    align-items: center;
    display: flex;
    justify-content: end;
    gap: 5px;
    width: 50%;
}

.button-container form{
    align-items: center;
    display: flex;
    justify-content: end;
    gap: 5px;
    width: 40%;
    margin-right: 5px;
}

.text-container{
    align-items: center;
    display: flex;
    justify-content: start;
    width: 50%;
}

.kund-text p{
    margin-right: 16px;
}

.top-text-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-text-container{
    display: flex;
    width: 100%;
}

.mt-10{
    margin-top: 10px;
}

.ml-10{
    margin-left: 10px;
}

.ml-12{
    margin-left: 12px;
}

.ml-l{
    margin-left: 50px;
}

.ml-xl{
    margin-left: 100px;
}

.m-auto{
    margin: auto;
}

.left-text-container{
    display: flex;
    flex-direction: column;
}

.button-kunder{
    margin-left: 20px;
}

.kund-container{
    flex-direction: column;
}

.customer-table {
    width: 100%;
    font-family: "Poppins", sans-serif;
    text-align: left;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border: 2px black;
}
table a{
    color: dodgerblue;
}

table a:visited{
    color: dodgerblue;
}

.header-flex{
    display: inline-flex;
}

.text-align-center{
    text-align: center;
}

.customer-table tbody tr:nth-child(odd) {
    background-color: lightgrey; /* Light gray background for odd rows */
}

.customer-table tbody tr:nth-child(even) {
    background-color: #ffffff; /* White background for even rows */
}