<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pensionat | Bokning</title>
  <!-- Css sheet -->
  <link rel="stylesheet" type="text/css" href="/style.css">
  <!-- import Poppins font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar">
    <button class="navButton"><a th:href="@{/index}" >Home</a> </button>
    </nav>
    <form action="/book/viewRooms" method="get" class="form-container">
        <label for="namn">Namn:</label>
        <input class="text-input" type="text" id="namn" name="namn">
        <label for="telNr">Telefonnummer:</label>
        <input class="text-input" type="tel" id="telNr" name="telNr">
        <label for="email">Email:</label>
        <input class="text-input" type="email" id="email" name="email">
        <hr>
        <div class="date-container">
            <label for="startDate">Från:</label>
            <input type="date" id="startDate" name="startDate">
            <hr>
            <label for="endDate">Till och med:</label>
            <input type="date" id="endDate" name="endDate">
        </div>
        <label for="antalPersoner">Antal personer:</label>
        <input class="num-input" type="number" id="antalPersoner" name="antalPersoner" max="4" min="1" value="1">
        <input class="book-button" type="submit" value="Sök lediga rum">
    </form>
    <div class="small-container" th:unless="${#lists.isEmpty(allRooms)}">
            <h3 th:text="${rubrik}" ></h3>
            <div class="room-container" th:each="room : ${allRooms}">
                <div class="room-inner-container">
                    <p th:text="'Rum ' + ${room.rumsnr} +' ' + ${roomType}"></p>
                    <form action="#" th:action="@{/bokningar/add}" method="post">
                        <div th:if="${room.dubbelrum}">
                            <label for="numOfBeds">Extrasäng</label>
                            <input type="number" id="numOfBeds" name="numOfBeds" th:max="${room.storlek - 1}" min="0" value="0">
                        </div>
                        <input type="hidden" name="rumId" th:value="${room.id}">
                        <input type="hidden" name="namn" th:value="${name}">
                        <input type="hidden" name="telNr" th:value="${telNr}">
                        <input type="hidden" name="email" th:value="${email}">
                        <input type="hidden" name="startDate" th:value="${startDate}">
                        <input type="hidden" name="endDate" th:value="${endDate}">
                        <input type="hidden" name="numOfBeds" th:value="${numOfBeds}">
                        <button class="book-button" type="submit">Boka</button>
                    </form>
                </div>
            </div>
    </div>
</div>
</body>
</html>