<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alla kunder</title>
</head>
<body>
<h2>Registrera ny kund</h2>

<form action="#" th:action="@{/kunder/create}" method="post">
    <label for="name">Name:  </label>
    <input type="text" id="name" name="name" value=""><br>

    <label for="email">E-post:</label>
    <input type="email" id="email" name="email" value=""><br>

    <label for="tel">Mobil: </label>
    <input type="tel" id="tel" name="tel" value="">

    <br><br>
    <input type="submit" value="Lägg till kund">


</form>
<p></p>
<h2>Alla registrerade kunder</h2>
<div class="all_customers" th:if="${#lists.isEmpty(allakunder)}">
    <p>Det finns inga registrerade kunder</p>
</div>
<div class="all_customers" th:unless=" ${#lists.isEmpty(allakunder)}">
<table>
    <tr >
        <td>Kund namn</td>
        <td>Alla bokningar</td>
        <td>Ändra bokning</td>
        <td>Delete bokning</td>
    </tr>
    <tr th:each="kund:${allakunder}">
        <th th:text="${kund.namn}"></th>
        <th><a th:href="@{/kunder/showBokingarById/{id}(id=${kund.id})}">Visa bokningar</a></th>
        <th><a th:href="@{/kunder/editById/{id}(id=${kund.id})}">Ändra</a></th>
        <th><a th:href="@{/kunder/deleteById/{id}(id=${kund.id})}">Delete</a></th>
    </tr>
</table>
</div>
</body>
</html>