<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ändra bokning</title>
    <!-- Css sheet -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- import Poppins font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--Font-kit -->
    <script src="https://kit.fontawesome.com/e381b12111.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <button class="navButton"><a th:href="@{/kunder/showBokingarById/{customerId}(customerId=${booking.kund.id})}" >Gå tillbaka</a></button>
    </nav>
    <form id="bookingForm" action="/book/viewRooms" method="get" class="form-container">
        <h4>Ändra bokning</h4>
        <div class="date-container">
            <input type="date" id="startDate" name="startDate">
            <i class="fa-solid fa-right-long"></i>
            <input type="date" id="endDate" name="endDate">
        </div>
        <br>
        <label for="antalPersoner">Antal personer:</label>
        <input class="num-input" type="number" id="antalPersoner" name="antalPersoner" max="4" min="1" value="1">
        <br><br>
        <input type="hidden" name="namn" th:value="${booking.kund.namn}">
        <input type="hidden" name="telNr" th:value="${booking.kund.tel}">
        <input type="hidden" name="email" th:value="${booking.kund.email}">
        <input type="hidden" name="bokId" th:value="${booking.id}">
        <button class="book-button" type="button" onclick="validateForm()">Sök lediga rum</button>
    </form>
    <div class="small-container" th:unless="${#lists.isEmpty(allRooms)}">
        <h3 th:text="${rubrik}" ></h3>
        <div class="room-container" th:each="room : ${allRooms}">
            <div class="room-inner-container">
                <p th:text="'Rum ' + ${room.rumsnr} +' ' + ${roomType}"></p>
                <form action="#" th:action="@{/bokningar/update}" method="post">
                    <div th:if="${room.dubbelrum}">
                        <label for="extraBeds">Extrasäng</label>
                        <input type="number" id="extraBeds" name="extraBeds" th:max="${room.storlek - 1}" th:min="${antalPersoner - 2}" th:value="${antalPersoner - 2}">
                    </div>
                    <input type="hidden" name="bokId" th:value="${booking.id}">
                    <input type="hidden" name="rumId" th:value="${room.id}">
                    <input type="hidden" name="namn" th:value="${name}">
                    <input type="hidden" name="telNr" th:value="${telNr}">
                    <input type="hidden" name="email" th:value="${email}">
                    <input type="hidden" name="startDate" th:value="${startDate}">
                    <input type="hidden" name="endDate" th:value="${endDate}">
                    <input type="hidden" name="antalPersoner" th:value="${antalPersoner}">
                    <button class="book-button" type="submit">Boka</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var startDate = document.getElementById('startDate').value;
        var endDate = document.getElementById('endDate').value;
        if (startDate === '' || endDate === '') {
            alert('Du måste välja start start datum och slut datum!.');
        } else {
            document.getElementById('bookingForm').submit();
        }
    }
</script>

</body>
</html>
