<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ändra bokning</title>
    <!-- Css sheet -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- import Poppins font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <button class="navButton"><a th:href="@{/index}">Home</a></button>
    </nav>
    <form>
        <h4>Ändra bokning</h4>
        <div class="date-container">
            <label for="startDate" >Från:&nbsp;</label>
            <input type="date" id="startDate" name="startDate">
            <label for="endDate">&nbsp;Till och med:&nbsp;</label>
            <input type="date" id="endDate" name="endDate">
        </div>
        <br>
        <label for="antalPersoner">Antal personer:</label>
        <input class="num-input" type="number" id="antalPersoner" name="antalPersoner" max="4" min="1" value="1">
        <br><br>
        <input class="book-button" type="submit" value="Sök lediga rum">
    </form>


</div>

</body>
</html>