<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sökresultat</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e381b12111.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="table-container">
    <nav class="navbar">
        <button class="navButton"><a th:href="@{/index}" >Home</a></button>
    </nav>
    <h2 class="text-align-center">Sökresultat</h2>
    <hr class="divider">

    <form th:action="@{/company/search}" method="get">
        <input type="text" name="searchWord" placeholder="Sök efter kunder">
        <button type="submit">Sök</button>
    </form>

    <div class="room-container">
        <table class="customer-table">
            <thead>
            <th> Fax
                <div class="header-flex">
                    <a th:href="@{/company/search(searchWord=${searchWord},sortField='fax',sortOrder='asc')}"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                    <a th:href="@{/company/search(searchWord=${searchWord},sortField='fax',sortOrder='desc')}"><i class="fa-solid fa-arrow-up-z-a"></i></a>
                </div>
            </th>
            <th> Company
                <div class="header-flex">
                    <a th:href="@{/company/search(searchWord=${searchWord},sortField='companyName',sortOrder='asc')}"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                    <a th:href="@{/company/search(searchWord=${searchWord},sortField='companyName',sortOrder='desc')}"><i class="fa-solid fa-arrow-up-z-a"></i></a>
                </div>
            </th>
            <th>Contact
                <div class="header-flex">
                    <a th:href="@{/company/search(searchWord=${searchWord},sortField='contactName',sortOrder='asc')}"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                    <a th:href="@{/company/search(searchWord=${searchWord},sortField='contactName',sortOrder='desc')}"><i class="fa-solid fa-arrow-up-z-a"></i></a>
                </div>
            </th>
            <th>City
                <div class="header-flex">
                    <a th:href="@{/company/search(searchWord=${searchWord},sortField='city',sortOrder='asc')}"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                    <a th:href="@{/company/search(searchWord=${searchWord},sortField='city',sortOrder='desc')}"><i class="fa-solid fa-arrow-up-z-a"></i></a>
                </div>
            </th>
            <th>Country
                <div class="header-flex">
                    <a th:href="@{/company/search(searchWord=${searchWord},sortField='country',sortOrder='asc')}"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                    <a th:href="@{/company/search(searchWord=${searchWord},sortField='country',sortOrder='desc')}"><i class="fa-solid fa-arrow-up-z-a"></i></a>
                </div>
            </th>
            </thead>
            <tbody>
            <tr th:each="customer : ${matchingCustomers}">
                <td>
                    <a th:href="@{/company/customers/{id}(id=${customer.id})}">
                        <span th:text="${customer.fax}">Fax</span>
                    </a>
                </td>
                <td th:text="${customer.companyName}">Company Name</td>
                <td th:text="${customer.contactName}">Contact Name</td>
                <td th:text="${customer.city}">City</td>
                <td th:text="${customer.country}">Country</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
