<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mina bokningar</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <nav class="navbar">
        <button class="navButton"><a th:href="@{/kunder}" >Gå tillbaka</a></button>
    </nav>
    <h2>Mina bokningar</h2>
    <!-- Visa denna div om det inte finns bokningar-->
    <div class="alla_bokningar" th:if="${#lists.isEmpty(allabokningar)}">
        <p>Du har inga registrerade bokningar</p>
        <th><a th:href="@{/nyBokning(id=${id})}">Lägg till bokning</a></th>
    </div>
    <!-- Visa denna div om det finns bokningar-->
    <div class="alla_bokningar" th:unless=" ${#lists.isEmpty(allabokningar)}">

        <table>
            <tr >
                <td>Startdatum</td>
                <td>Slutdatum</td>
                <td>Antal sängar</td>
                <td>Ändra bokning</td>
            </tr>
            <tr th:each="bokning:${allabokningar}">
                <th th:text="${bokning.startdatum}"></th>
                <th th:text="${bokning.slutdatum}"></th>
                <th th:text="${bokning.numOfBeds}"></th>
                <th><a th:href="@{/bokningar/updateBokning/{id}(id=${bokning.id})}">Ändra bokning</a></th>
                <td>
                <td>
                    <form method="post" th:action="@{/bokningar/delete/{id}(id=${bokning.id})}"onsubmit="return confirm('Är du säker på att du vill ta bort bokningen?')">>
                        <button type="submit">Ta bort</button>
                    </form>

                </td>

                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html></title>
</head>
<body>
</body>
</html>